<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChorEconomy Inc.</title> 
    <style>
        /* Desktop styles with media queries */
        @media only screen and (min-width: 600px) {
            .main-container {
                width: 600px !important;
            }

            .banner-header {
                max-width: 600px !important;
            }

            .bottom-footer-container .contact-info,
            .bottom-footer-container .socials {
                font-size: 1rem;
            }
        }
    </style>
</head>

<body style="margin: 0; padding: 0; font-family: 'DM Sans', sans-serif; width: 100%;">

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center" style="padding: 0;">

                <!-- Main Container -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="main-container"
                    style="max-width: 600px; width: 100%; padding: 10px; background-color: #FFF;">
                    <tr>
                      <td align="left">
                        <a href="">
                          <img src="https://res.cloudinary.com/dlfbotqxs/image/upload/v1739537179/chore_logo_mnxgn0.png" width="70px" alt="ChorEconomy Logo">
                        </a>
                      </td>
                    </tr>
                    <!-- Header Section -->
                    <tr>
                        <td align="center" style="padding: 26px 0; border-radius: 5px;">
                            <a href="">
                              <img src="https://res.cloudinary.com/dlfbotqxs/image/upload/v1739537737/reset_password_banner_te3do8.png" alt="Reset Password Banner" width="100%">
                            </a>
                        </td>
                    </tr>

                    <!-- Email Contents -->
                    <tr>
                        <td align="left" style="padding: 10px;">
                            <p style="padding-bottom: 20px; color: #333333; ">Hi <%= name %>, </p>
                            <p style=" color: #333333;">
                              We received a request to reset your password for the Chore App. 
                            </p>   
                            <p style="color: #333333;">Click the link below to reset your password:</p>
                            <p style="font-size: 1rem; font-weight: 600;"><a href="<%= resetPasswordLink %>" style="color: #0a9696; text-decoration: none;">Reset your Chore Tracker password</a></p>
                            <p style="color: #333333;">
                              If you didn't request this, please ignore this email. For questions about the chore app, contact support at support@choreapp.com
                            </p>
                            <p style="color: #333333;">Thanks,</p>
                            <p style="color: #333333;">The Team.</p>
                        </td>
                    </tr>


                    
                    <!-- Footer Message -->
                    <tr>
                        <td align="center" style="padding: 0 10px;">
                            <h4 style="font-size: 1.3rem;">Get the Chore  App</h4>
                            <p style="color: #5E5E5E;">Get it on the App Store or Google Play. Download <br> to manage chores and tasks easily!</p>
                        </td>
                    </tr>
                    <tr>
                      <td align="center" style="padding-top: 10px;">
                        <a href="#">
                          <img src="https://res.cloudinary.com/dlfbotqxs/image/upload/v1739537179/google-play-icon_xxobpe.png" width="100px" alt="google play">
                        </a>
                        <a href="#">
                          <img src="https://res.cloudinary.com/dlfbotqxs/image/upload/v1739537178/apple_pay_icon_kz2xbj.png" width="100px" alt="apple play">
                        </a>
                      </td>
                    </tr>

                    <!-- Footer Section -->
                    <tr >
                      <td align="center" style="padding-top: 30px;">
                        <a href=""><img src="https://res.cloudinary.com/dlfbotqxs/image/upload/v1739537182/twitter_icon_dopr4y.png" width="25px" alt="twitter icon"></a>
                        <a href=""><img src="https://res.cloudinary.com/dlfbotqxs/image/upload/v1739537179/facebook-icon_oerjkh.png" width="25px" style="padding: 0 15px;" alt="facebook icon"></a>
                        <a href=""><img src="https://res.cloudinary.com/dlfbotqxs/image/upload/v1739537181/instagram-icon_jb9dsj.png" width="25px" alt="instagram icon"></a>
                      </td>
                    </tr>

                    <tr>
                      <td align="center" style="color: #475467; padding-top: 10px;">
                        <p> ChorEconomy Inc.</p>
                        <p>Starview Plaza, 456, Maple Avenue, Springfield, Illinois.</p>
                        <p> Download on the Apple Store | Get it on Google Play</p>
                        <p>Email: support@choreapp.com</p>
                        <p>  &copy; 2025 ChorEconomy</p>
                      </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>